
#top_part{
	min-width:1140px;
	height: 650px;
}

#top-header {
	height: 6em;
	margin-top: -1.33em;
	position: relative;
    z-index: 9999;
}

.navbar.navbar-inverse.navbar-fixed-top {
	z-index: 10001;
}

/*For Demers*/
#demers-container {
    width:930px;
    height: 650px;
    float: left;
    position: relative;  
    margin-left: -7em;
    margin-top: -6em; 
}

#demers{
	position: relative;
	left: 3.6em;
	top: 2.2em;
	z-index: 5;
}

#bgmap{
	position: absolute;
	width: 780px;
	height: 700px;
	left: 8.6em;
	top: 0.5em;
	z-index: -1;
	opacity: 0.6;
}

#demers rect {
	fill: #eee;
	stroke: #bbbbbb;
	stroke-width: 1.5px;
	cursor: pointer;
}

#map {
	position: absolute;
	bottom: -4em;
	left: 5em;
	display: block;
	width: 360px;
	height: 280px;
}

#map .admin1 {
	cursor: pointer;
}

#map.kartograph svg text *{
	fill:"#444444";
}

#map.kartograph svg text tspan {
	font-family:"Helvetica";
	font-weight: bold;
	font-size: 10px;
	cursor: pointer;
}

#scale{
	position: absolute;
	top: 16.5em;
	left: 6.8em;
}

#img-scale{
	float:left;
}
ol#ol-scale li {
	padding-top: 0.82em;
	text-align: left;
}
#ol-scale {
	float: right;
	list-style-type: none;
	padding-left: 0.2em;
	font-size: 11px;
	margin-top: -1.4em;
	color: #606060;
}

/*TODO: clean the unused chart css*/;	
#chart{
	width: 300px;
	height: 650px;
	float: left;
}

.bar {
  fill: #481B18;
}

.bar:hover {
  fill: #99807F;
  /*border: 2px solid #99807F;*/
}

.bar_num {
  fill: white;
  font: 15px sans-serif;
}
/*TODO: clean the unused chart css*/;

.axis {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

.lblEstado {
	font-size: 11px;
}

.lblValue, .lblEstado {
	font-family:"Helvetica";
	font-weight: bold;
	cursor: pointer;
}


/*For geo maps*/
.states {
  fill: none;
}

.states :hover {
  fill: orange;
}

.state-boundary {
  fill: none;
  stroke: #fff;
  stroke-opacity: .25;
  stroke-width: .5px;
  pointer-events: none;
}

#slider-container{
    float: left;
    margin-top: 2em;
    width: 820px;
    position: relative;
    z-index: 999;
}

#slider{
	padding: 0;
	margin-left: 14px;
	width: 820px;
	z-index: 1000;
	cursor: pointer;
}

div#slider>span{
	cursor: grab !important;
}

#slider-label{
	padding: 0;
	width: 820px;
	
}

#list-states {
	float: right;
	display: block;
	padding: 1em;
	padding: 1em;
	padding: 0.75em 0.2em;
	width: 19%;
	min-width: 290px; max-width: 300px; height: 715px; 
	margin-top: -6.8em;
	z-index: 10000;
	position: relative;
}

#list-states ol {
	text-align: left;
}

.li-background{
	background-color: #D4C2C5; /*homicides*/
	/*background-color: #D4D4EF; /*Blue*/
	white-space: nowrap;
}

.legends{
	position: absolute;
	z-index: 9999;
}

#legend{
	text-align: right;
	right: 0;
	bottom: -2em;
	font-size: 0.8em;
}

#legend-geo{
	left: 0;
	top: 30.5em;
	margin-left: 10em;
}

#legend-demers{
	left: 23em;
	top: 7em;
}

/*Tooltip*/
#stateTooltip{
	position: absolute;
	z-index: 99999;
	border: 1px solid #000;
	background-color:#fff;
	padding: 0;
	width:28.7em;
	display: block;
	box-shadow: 5px 5px 10px #bbbbbb;
	margin: 3.5em 0 0 4em;
	visibility: hidden;
	opacity: 0.7;
	padding-bottom: 0.7em;
}

#stateTooltip h4{
	text-align: left;
	padding: 0.2em 0 0 1em;
}

#stpInstructions{
	position: absolute;
	top: -0.7em;
	right: 0;
	margin-right: 2em;
	color: red;
	text-transform: uppercase;
}

img#close-button {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.3em;
}

img#close-button:hover, img#play-button:hover{
	cursor: pointer;
}


.bigNumber{
	font-weight: bold;
	font-size: 1.95em;
}

.countryNumber{
	font-weight: bold;
	font-size: 1.25em;
}

span#stpCountry {
margin-top: 0.3em;
}

span#stpCountryText {
	margin-top: 0.1em !important;
}

.bigText{
	font-weight: bold;
	font-size: 1.8em;
}

.captionText{
	font-size: 0.8em;
}

#stpNumber {
	
}

div.stpTopContainer{
	position: absolute;
	margin-top: 0;
	left: 2em;
}

div.stpContainer {
	float: left;
	margin-top: -2.5em;
	margin-left: 1.2em;
}

div#totalsContainer:first-child{
	margin-left: 1.27em;
}

div.stpContainer *, div.stpTopContainer *{
	float: left;
}

span#stpTotalText, span#stpWeekText, span#stpCountryText, #stpText {
	margin-top: -0.5em;
	clear: left;
}

div#stpWeekly {
	background-color: #eee;
	margin-left: 2em;
	padding: 0 0.3em;
}

#botones-box{
	background-color: #ffffff;
    clear: both;
    float: right;
    height: 14em;
    width: 16.6em;
    padding: 0.6em;
    position: absolute;
    right: 0;
    top: 6.7em;
    z-index: 99;

    -webkit-box-shadow: 6px 6px 6px #b3b3b3;
    -moz-box-shadow: 6px 6px 6px #b3b3b3;
    box-shadow: 6px 6px 6px #b3b3b3;
}

list#botones-box{
	list-style-type: none;
}

.list-header{
	background-color: #eeeeee;
	cursor: default !important;

	text-align: left;
	font-size: small;
	padding: 5px 15px;

}

#botones-box > .list-group-item{
	text-align: left;
	font-size: small;
	padding: 5px 15px;
}

#botones-box > .list-group-item:hover, #botones-box > .list-group-item:focus {
    background-color: #f5f5f5;
    color: #555;
    cursor: pointer;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	background: none;
	color: #333;
	text-shadow: none;
	font-weight: bold;
}

#botones-box > .list-group-item.active {
    /*background-repeat: repeat-x;*/
    /*border-color: #eee;*/
    /*text-shadow: 0 -1px 0 #3071a9;*/
    /*color: white;*/
    border: 1px solid #ddd;
}

.list-group-item::after{
	float: right;
	position: absolute;
	right:4px;
}

#btnHomicide.list-group-item::after{
	content: url("../images/homicide-b.png");
}

#btnKidnap.list-group-item::after{
	content: url("../images/kidnap-b.png");
}

#btnExtortion.list-group-item::after{
	content: url("../images/extortion-b.png");
}

#btnCarViolence.list-group-item::after{
	content: url("../images/carvio-b.png");
}

#btnCarNoViolence.list-group-item::after{
	content: url("../images/carnonvio-b.png");
}

#main-title{
	min-width: 16em;
	padding-top: 0.3em;
}
#top-image{
	float: left;
    margin-right: 1em;
    position: relative;
    max-height:75px; 
    width:auto;
}
#main-blob{
	display: inline;
}

.btn-danger {
    background-image: linear-gradient(to bottom, #eeeeee -10px, #711a26 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

h1, .h1 {
    font-size: 32px;
}

h2{
	background-color: #eee;
	color: black;
	padding-left: 0.2em;
}

.lead {
    font-size: 17px;
}

img#play-button{
	position: absolute;
	bottom: 5em;
    left: 1em;
    z-index: 9999;
}
/*humans*/
#monoContainer{
	clear: left;
	float: left;
	margin: 0.7em 1.3em 0 1.8em;
	background-color: #eee;
	width: 90%;
	height: 100%;
	padding: 0.3em 0 0.3em 0.3em;
}
.monitoInline{
	clear:both;
}
#monitos{

}
.human{
	float: left;
	height: 15px;
	margin-right: 1px;
}
.carrito{
	float: left;
	width: 10.5px;
	margin-right: 1px;
}
	


