/*For Axis*/
#top_part{
	min-width:1140px;
	height: 650px;
	margin-top: -8em;
}
#demers {
    margin-left: -7em;
    margin-top: -3.5em;
    width:930px;
    height: 650px;
    float: left;
    position: relative;
}

#map {
	position: absolute;
	bottom: 2em;
	left: 7em;
	display: block;
	width: 250px;
	height: 200px;
}

/*TODO: clean the unused chart css*/;	
#chart{
	width: 300px;
	height: 650px;
	float: left;
}

.bar {
  fill: #481B18;
}

.bar:hover {
  fill: #99807F;
  /*border: 2px solid #99807F;*/
}

.bar_num {
  fill: white;
  font: 15px sans-serif;
}
/*TODO: clean the unused chart css*/;

.axis {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
}

/*For Demers*/
#demers rect {
fill: #eee;
stroke: #000;
stroke-width: 1.5px;
}

/*For geo maps*/
.states {
  fill: none;
}

.states :hover {
  fill: orange;
}

.state-boundary {
  fill: none;
  stroke: #fff;
  stroke-opacity: .25;
  stroke-width: .5px;
  pointer-events: none;
}


#slider-container{
    float: left;
    margin-top: 2em;
    width: 820px;
}

#slider{
	padding: 0;
	margin-left: 14px;
	width: 820px;
}
#slider-label{
	padding: 0;
	width: 820px;
	
}

#list-states {
	float: right;
	
	display: block;
	padding: 1em;
	padding: 1em;
	margin-right: 4em;
	padding: 0.75em 0.2em;
	width: 19%;

	min-width: 290px; max-width: 300px; height: 695px; margin: 0 auto;
}

#list-states ol {
	text-align: left;
}

.li-background{
	background-color: #D4C2C5; /*homicides*/
	/*background-color: #D4D4EF; /*Blue*/
	white-space: nowrap;
}

/*Tooltip*/
#stateTooltip{
	position: absolute;
	z-index: 99999;
	visibility: hidden;
	border: 1px solid #000;
	background-color:#fff;
	padding: 0.1em 1em;
	width:10em;
	display: block;
	box-shadow: 5px 5px 10px #BBBBBB;
	margin: 3.5em 0 0 4em;
}
#stateTooltip h4{
	
}
#stpNumber {
	font-weight: bold;
}	